body {
  margin: 0;
  background-color: hsl(235, 18%, 26%);
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: hsl(234, 29%, 20%);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

/* Layout */

main {
  background-color: white;
  display: grid;
  grid-template-columns: 3em 1fr 3em;
  grid-template-rows: 25em;
}

main * {
  grid-column: 2;
}

.main-success-card {
  /* display: none; */
  display: grid;
  grid-template-rows: 8em auto 1fr auto;
  height: 100vh;
}

.main-success-card * {
  align-self: end;
}

.main-success-title {
  align-self: start;
}

.main-success-paragraph {
  align-self: start;
  height: 100%;
}

.main-form-card {
  display: none;
  /* display: grid; */
}

.main-title {
  grid-row: 2;
}

@media (min-width: 1440px) {
  main {
    width: 70%;
    margin: 0 auto;
    grid-template-columns: 3em 1fr 1fr 3em;
  }
}

/* Typography */
h1,
h2,
p,
ul {
  margin: 0;
}

h1,
h2,
.bold,
label {
  font-weight: 700;
}

h1,
h2 {
  margin: 0.4em 0;
  font-size: 3rem;
}

h2 {
  line-height: 1;
  margin: 0.9em 0;
}

p {
  margin-bottom: 1em;
}

p,
li {
  font-size: 1.2em;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 1em 0;
}

a {
  text-decoration: none;
}
/* Buttons */

.btn {
  border-radius: 10px;
  margin-bottom: 2em;
  color: white;
  font-weight: 700;
  padding: 1.2em 1em;
  font-size: 1.1em;
  background-color: hsl(234, 29%, 20%);
  text-align: center;
  border: none;
  width: 100%;
}

.btn:hover {
  background-color: hsl(4, 100%, 67%);
  cursor: pointer;
}

/* Other Elements */

.main-image {
  grid-column: 1 / -1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.checkmark-icon {
  background: url('./assets/images/icon-list.svg') no-repeat left 0.2em;
  padding-left: 2em;
}

.email-input {
  display: block;
  width: 100%;
  padding: 1.2em 1.2em;
  font-family: inherit;
  font-size: inherit;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 2em;
}

.email-label {
  display: block;
  margin: 2em 0 0.6em;
}

@media (min-width: 1440px) {
  .main-image {
    grid-column: 3;
    grid-row: 2 / span 3;
  }
  .main-paragraph {
    grid-row: 3;
  }
  .main-list {
    grid-row: 4;
  }

  .main-form {
    grid-row: 5;
  }
}
